body{
    font-family:font-family: "Poppins", sans-serif;
    margin: 0px;
}
.top-bgImg{
    background-image: url("personal-website/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width{
    width:40%;
    float: left;
    padding-top:px;
    margin-left: 5%;
    padding-left: 2%;
    margin-top:5%;

}
#pain{
    
    padding-top:150px;
}
.highliter{
    color: turquoise;
    font-weight: 900;
}

section{
   /* border: 2px solid black;*/
    height: 500px;
    padding:100px;
}
.half-width img{
    width: 100%;
    padding-bottom:10px;
    

   
}
.btn{
    color:white;
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(202, 94, 31) , rgb(204, 40, 62));
    
    padding: 10px 20px;
    border-radius: 5%;
    font-weight: 800;
}
/*biography part*/
#biography-bg{
    background-image: url("personal-website/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.another-width{
    padding-left:40px;
    
}
.special-pad{
    padding-top:60px;
}
/*third part*/
section .latest-work-bg{
    height: 400px;
}
.latest-work-bg{
    
    background-image: url("personal-website/latest-work-bg.png");
    background-repeat:no-repeat;
    background-size: cover;
   
}

.part-three{
    text-align: center;
}
.one-third-width{
    width:25%;
    float: left;
    padding-top:3%;
    margin-left: %;
    padding-left: 5%;
    margin-top:2%;
    margin-botton:0px;
    padding-bottom:0%;
}
.one-third-width img{
    width:100%;
}

.gh {
    margin: 0%;
    padding:0px;
    background-image: url("personal-website/footer-bg.png");
    background-repeat:no-repeat;
    background-size: cover;
}
.gh{
    height: 25%;
    width:100%;
}
.ph{
    padding-top: 70px;
    text-align: center;
}
.ph h1{
    
    font-weight: 900;
    padding:10px;
}
.ph h6{
    color: darkgray;
}
.ph p{
    padding:10px;
    padding-left: 60px;
}
.op{
    border: 2px solid orange;
    margin: auto;
  width: 50%;
  background-image: linear-gradient(180deg,tomato,orange);
  padding: 10px;
  border-radius: 0.5%;
}
.op p{

    color: white;
    text-align: center;
}
.op a{
    font-size:40px ;
   padding-left: 100px;
    color: white;
    text-decoration: none;
     align: center;
}
.go{
    width: 100%;
    text-align: center;
}

footer p{
    text-align: center;
    color: silver;
}